.cell{

    width: 100%;
    height: 100%;
    
    min-width: 8px;
    min-height: 8px;
    border: 1px solid black;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: white;
    user-select: none; 
    -webkit-user-drag: none;
}

.cell-white{
    background-color: white;
}

.cell-red{
    background-color: rgb(255, 78, 78);    
}

.cell-black{
    background-color: rgb(34, 34, 34);   
}

.cell-yellow{
    background-color: rgb(238, 219, 51);   
}
.cell-green{
    background-color: rgb(58, 224, 197);   
}
.cell-pink{
    background-color: rgb(255, 129, 234);   
}