.floating-menu{
    background-color: rgb(89, 114, 97);
    width: 200px;
    height: 40px;
    position: fixed;
    z-index: 10;
    display: none;
}

.color-selector{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


.color-red{
    width: 20px;
    height: 20px;
    background-color: red;
}
.color-black{
    width: 20px;
    height: 20px;
    background-color: black;
}

.color-pink{
    width: 20px;
    height: 20px;
    background-color: pink;
}
.color-green{
    width: 20px;
    height: 20px;

    background-color: green;
}
.color-blue{
    width: 20px;
    height: 20px;
  
    background-color: blue;
}
